// Created by GGL 

public class Program
{
    public static void main(String[] args) {
 //created for more explanation   
   
   
   //number of pattern say 20 or any number   
  int n=20;    
  //outter loop
        for (int k=1; k<20; k++)
        {
//inner loop
//In the inner loop you can see that m is a new variable which will help execute the previous k variable, that is why m is less than or equal to k
            for (int m=1; m<=k; m++){
//pattern to be printed
                System.out.print("🌹");}
                System.out.println();
            }            
     
      //you can copy, alter and use the code 
    }
}